---
layout: displaypage
subtitle: personal blog on ML topics.
tags: ["LLMs", "ML", CV", "NLP", "Blog"]
permalink: "/"
---

<section>
    <h1>Hello, I'm Varun</h1>
    <p>
        <span class="marginnote">
            <img src="/assets/img/profile-pic.jpg"
                 alt="me"
                 class="profile-picture"
                 style="max-width: 749px;
                        height: auto" />
        </span>


    I'm a Machine Learning Engineer with a focus on Computer Vision. I'm interested in self-supervised learning, leveraging unlabeled data to build scalable AI systems. 
    </p>
    <p>
    I currently work on the perception team at Sauron <a href="https://www.sauron.systems">. Previously, I worked on the Machine Learning Data Engine team at <a href="https://www.aurora.tech"> Aurora Innovation </a>. I worked on the Auto-Labeler to create accurate 3D point cloud labels and 2D image labels. 
    I worked on the same product in 3 different companies as a result of multiple aquisitions! (Aurora, <a href="https://investor.uber.com/news-events/news/press-release-details/2020/Aurora-is-acquiring-Ubers-self-driving-unit-Advanced-Technologies-Group-accelerating-development-of-the-Aurora-Driver/default.aspx">Uber ATG </a>, <a href="https://www.mty.ai">Mighty AI</a>). Before that, I worked on face recognition at <a href="https://www.waldo.photos"> Waldo Photos </a>.
   </p>
   <p>
   I got my Master's degree in Electrical and Computer Engineering from the University of Utah. During my Masters program, I worked on building a tool to classify <a href="https://www.inscc.utah.edu/~tgarrett/masc.html">snowflakes </a>with <a href="https://profiles.faculty.utah.edu/u0294462">Prof Tim Garrett </a>.
   </p>
   <p>
   You can contact me via <a href="mailto:fab.varun+site@gmail.com">email</a> or <a href="https://www.linkedin.com/in/varunsuresh"> LinkedIn.
   </p>   
</section>


<section>
<h2 id="website">Website</h2>
<p>
This website was made using <a href="https://www.11ty.dev">11ty</a>, <a href="https://edwardtufte.github.io/tufte-css">Tufte CSS</a> and <a href="https://github.com/nerdhaus/eleventufte/tree/main">eleventufte</a>. All the figures were drawn using <a href="https://excalidraw.com">Excalidraw</a>. This website was inspired by <a href="https://www.tylerromero.com/">Tyler Romero's blog</a>
</p>
</section>
