---
layout: displaypage
subtitle: personal blog on ML topics.
tags: ["LLMs", "ML", CV", "NLP", "Blog"]
permalink: "/"
---

<section>
    <h1>Hello, I'm Varun</h1>
    <p>
    I'm a Machine Learning Engineer with a focus on Computer Vision. My interests lie in self-supervised learning, leveraging unlabeled data to build scalable AI systems. I enjoy tinkering with language models and fine-tuning LLMs.
    </p>
    <p>
    I'm currently on a sabbatical. Previously, I worked on the machine learning data engine team at <a href="https://www.aurora.tech"> Aurora Innovation </a>. I worked on the Auto-Labeler to speed up 3D point cloud labeling and 2D image labeling.
        <label for="sd-less-than-a-href" class="margin-toggle sidenote-number"></label>
        <input type="checkbox" id="sd-less-than-a-href" class="margin-toggle" />
        <span class="sidenote"> and something </a>
    </p>
    <figure class="sidenote">
    <img src="{{'/assets/img/aurora_pic.jpg' | url }}" alt="A descriptive alt text">
    <figcaption>This is a sidenote image.</figcaption>
    </figure>

    </section>

## Recent posts…

{%- import "list.njk" as list -%}
{{ list.details(collections.posts) }}
